

./server/log.js
./server/Log/*
./server/client
./AIC21-Client-Cpp/build/*
./server/server-v1.2.4.jar

*.zip 

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
